{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Blog</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
   
</head>
<body>
    <script src="{% static 'script.js' %}"></script>
    <header>
        <h3>Diallo Djibrila</h3>
        <div class="burger" onclick="toggleMenu()">
            <div class="barre"></div>
            <div class="barre"></div>
            <div class="barre"></div>
        </div>
        <nav id="nav-menu">
            
            <a href="#a-propos">À propos</a>
            <a href="#open-source">Open Source</a>
            <a href="#idees">Idées</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <section id="a-propos">
        
        <div class="first-bloc">
            <img src="/media/moi.png" alt="image">
            <p>Hi,<br> I'm Djibrila Diallo.<br>Aspirant Data Scientist.
            <br>Decouvrez mon Univers.</p>
            
        </div>
        <div class="parcour">
            <h3>Decouvrez mon parcours inspirant..</h3>
            <p>Découvrez le récit derrière mes lignes de code. 
                Mon parcours d'aspirant Data Scientist est guidé par une curiosité sans fin pour l'intelligence artificielle et l'Open Source. 
                Ici, je documente mon évolution, des premiers algorithmes à la réalisation de projets complexes. 
                Je crois fermement que le partage de connaissances est la clé de l'innovation, c'est pourquoi vous trouverez ici mes articles et mes contributions en accès libre.
            </p>
        </div>
        
    </section>
    <section id="open-source">
        <h2>Open Source</h2>
        <p>Mes Projet :Ce sont des projets que j'ai realiser .vous puvez les voir</p>
        
        <div class="grid-container">
            {% for comp in competences %}
                <div class="contenu-comp">
                    <h3>{{ comp.titre }}</h3>
                    {% if comp.image %}<img src="{{ comp.image.url }}" alt="{{ comp.titre }}">{% endif %}
                    <p>{{ comp.contenu }}</p>
                    <a href="{{ comp.slug }}">Cliquez sur le lien github</a>
                    <small>Publié le {{ comp.date_publication|date:"d/m/Y" }}</small>
                </div>
            {% empty %}
                <p>Aucune compétence ajoutée.</p>
            {% endfor %}
        </div>
    </section>

    <section id="idees">
        <h2>Articles recents</h2>
        
        <div class="grid-contain">
             {% for article in articles %}
                <div class="contenu-art">
                    <h3>&#9679 {{ article.titre }}</h3>
                    <div class="contenu">
                        <p>
                            <span class="extrait">{{ article.contenu|truncatechars:80 }}</span>
                            <span class="complet" style="display: none;">{{ article.contenu }}</span>
                            
                            {% if article.contenu|length > 80 %}
                                <span class="voir-plus-link" onclick="toggleText(this)">... Voir plus</span>
                            {% endif %}
                        </p>
                        <img src="{{ article.image.url }}" alt="img" style="max-width: 50px;">

                    </div>
                    <small class="date-droite">le {{ article.date_publication|date:"d/m/Y" }}</small>
                    
                </div>
            {% empty %}
                <p>Aucun article ajouté.</p>
            {% endfor %}

        </div>
       
    </section>
    
    <section id="contact">
        <h1>Contactez-nous!</h1>
        <div class="footer">
            <div>
                <div class="newletter">
                    <h4>Abonnez-vous à la newsletter</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ newsletter_form.as_p }}
                        
                        <button type="submit" name="newsletter_submit">Envoyer</button>
                    </form>

                </div>
               
                <div class="infos">
                    <div class="info1">
                        
                            <a href="#a-propos">À propos</a><br>
                            <br><a href="#open-source">Open Source</a><br>
                            <br><a href="#idees">Idées</a><br>
                            <br><a href="#contact">Contact</a>
                        
                    </div>
                    <div class="info2">
                        <p>djibrila6299@gmail.com</p>
                        <p>56 98 23 63</p>
                        <p>Burkina,Ouagadougou,<br>Arrondissement 11 secteur 49</p>

                    </div>
                </div>
                <div class="pied-image">
                    <a href="https://github.com/Djibrila77/" target="_blank">
                         <img src="/media/git.png" alt="img">
                    </a>
                    
                    <img src="/media/145807.png" alt="img">
                    
                    <img src="/media/1384023.png" alt="img">
                    <img src="/media/5968764.png" alt="img">
                    

                </div>
                


            </div>
            <div class="envoie">
                
                <form class="formulaire"method="post">
                    {% csrf_token %}
                    {{ contact_form.as_p }}
                    <button type="submit" name="contact_submit">Envoyer le message</button>
                </form>
                <p>@2025 by Djibrila.Tout droit reserves</p>

            </div>

        </div>   
    </section>
<script>
    function toggleMenu() {
        const nav = document.getElementById('nav-menu');
       
        nav.classList.toggle('active');
    }

</script>
   
</body>
</html>